<footer role="contentinfo" class="w-full p-4 bg-gray-100 text-gray-600 flex items-center justify-center space-x-2">
    <span class="text-xs">&copy; {{ meta.title }} {{ build.timestamp | dateToFormat('yyyy') }}</span>
    <a href="https://github.com/eastslopestudio/eleventy-starter">
        {% svg "github", "Github logo", "w-6 h-6 fill-current" %}
    </a>
</footer>