<div class="flex items-center mt-4 md:justify-between">
  <div class="flex justify-center md:order-2 {{ colors.authorCustom.socialIcons or colors.authorDefault.socialIcons }}">

    {% if author.socialMedia.dribbble %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on Dribble" href="{{ author.socialMedia.dribbble | url }}">
        {% svg "dribbble", "Dribbble logo", "mx-2 h-10 w-10 fill-current" %}
      </a>
    {% endif %}

    {% if author.socialMedia.github %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on GitHub" href="{{ author.socialMedia.github | url }}">
        {% svg "github", "Github logo", "mx-2 h-10 w-10 fill-current" %}
      </a>
    {% endif %}

    {% if author.socialMedia.instagram %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on Instagram" href="{{ author.socialMedia.instagram | url }}">
        {% svg "instagram", "Instagram logo", "mx-2 h-10 w-10 fill-current" %}
      </a>
    {% endif %}

    {% if author.socialMedia.linkedin %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on LinkedIn" href="{{ author.socialMedia.linkedin | url }}">
        {% svg "linkedin", "LinkedIn logo", "mx-2 h-10 w-10 fill-current" %}
      </a>
    {% endif %}

    {% if author.socialMedia.piedpiper %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on Pinterest" href="{{ author.socialMedia.piedpiper | url }}">
        {% svg "piedpiper", "Pied Piper logo", "mx-2 h-10 w-10 fill-current" %}
      </a>
    {% endif %}

    {% if author.socialMedia.pinterest %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on Pinterest" href="{{ author.socialMedia.pinterest | url }}">
        {% svg "pinterest", "Pinterest logo", "mx-2 h-10 w-10 fill-current" %}
      </a>
    {% endif %}

    {% if author.socialMedia.twitter %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on Twitter" href="{{ author.socialMedia.twitter | url }}">
        {% svg "twitter", "Twitter logo", "mx-2 h-10 w-10 fill-current" %}
      </a>
    {% endif %}

    {% if author.socialMedia.youtube %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on YouTube" href="{{ author.socialMedia.youtube | url }}">
        {% svg "youtube", "Youtube logo", "mx-2 h-10 w-10 fill-current" %}
      </a>
    {% endif %}

  </div>
</div>