<div class="flex items-center mt-4 md:justify-between">
  <div class="flex justify-center md:order-2 {{ colors.authorCustom.socialIcons or colors.authorDefault.socialIcons }}">

    {% if author.socialMedia.dribbble %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on Dribble" href="{{ author.socialMedia.dribbble | url }}">
        {% svg "dribbble", "mx-2 h-10 w-10 fill-current", "Dribbble logo" %}
      </a>
    {% endif %}

    {% if author.socialMedia.github %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on GitHub" href="{{ author.socialMedia.github | url }}">
        {% svg "github", "mx-2 h-10 w-10 fill-current", "Github logo" %}
      </a>
    {% endif %}

    {% if author.socialMedia.instagram %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on Instagram" href="{{ author.socialMedia.instagram | url }}">
        {% svg "instagram", "mx-2 h-10 w-10 fill-current", "Instagram logo" %}
      </a>
    {% endif %}

    {% if author.socialMedia.linkedin %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on LinkedIn" href="{{ author.socialMedia.linkedin | url }}">
        {% svg "linkedin", "mx-2 h-10 w-10 fill-current", "LinkedIn logo" %}
      </a>
    {% endif %}

    {% if author.socialMedia.piedpiper %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on Pinterest" href="{{ author.socialMedia.piedpiper | url }}">
        {% svg "piedpiper", "mx-2 h-10 w-10 fill-current", "Pied Piper logo" %}
      </a>
    {% endif %}

    {% if author.socialMedia.pinterest %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on Pinterest" href="{{ author.socialMedia.pinterest | url }}">
        {% svg "pinterest", "mx-2 h-10 w-10 fill-current", "Pinterest logo" %}
      </a>
    {% endif %}

    {% if author.socialMedia.twitter %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on Twitter" href="{{ author.socialMedia.twitter | url }}">
        {% svg "twitter", "mx-2 h-10 w-10 fill-current", "Twitter logo" %}
      </a>
    {% endif %}

    {% if author.socialMedia.youtube %}
      <a class="hover:{{ colors.authorCustom.SocialIconsHover or colors.authorDefault.socialIconsHover }}" alt="{{ title }} on YouTube" href="{{ author.socialMedia.youtube | url }}">
        {% svg "youtube", "mx-2 h-10 w-10 fill-current", "Youtube logo" %}
      </a>
    {% endif %}

  </div>
</div>