<div
      class="relative w-full bg-fixed bg-center bg-no-repeat bg-cover bg-{{ heroSettings.imagePosition }} h-{{ heroSettings.height.mobile or '1/1' }} sm:h-{{ heroSettings.height.desktop or heroSettings.height.mobile or '1/1' }}"
      style="background-image: url({{ heroSettings.image }});"
    >

  {# Shared across hero components  #}
  {% include "components/hero-text-overlay.njk" %}

</div>