<div class="flex items-center justify-between px-4 py-3 border-t {{ colors.paginateCustom.blockBg or colors.paginateDefault.blockBg }}
{{ colors.paginateCustom.blockBorder or colors.paginateDefault.blockBorder }} sm:px-6">
  <div class="flex justify-between flex-1 sm:hidden">
    <div>
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}" class="relative inline-flex items-center px-4 py-2 text-sm font-medium leading-5 {{ colors.paginateCustom.linkText or colors.paginateDefault.linkText }} transition duration-150 ease-in-out {{ colors.paginateCustom.linkBg or colors.paginateDefault.linkBg }} border {{ colors.paginateCustom.linkBorder or colors.paginateDefault.linkBorder }} rounded-md hover:{{ colors.paginateCustom.linkTextHover or colors.paginateDefault.linkTextHover }} hover:{{ colors.paginateCustom.linkBgHover or colors.paginateDefault.linkBgHover }} focus:outline-none focus:shadow-outline-blue focus:{{ colors.paginateCustom.linkFocusBorder or colors.paginateDefault.linkFocusBorder }} active:bg-gray-100 active:{{ colors.paginateCustom.linkText or colors.paginateDefault.linkText }}">
      Previous
    </a>
      {% endif %}
    </div>
    <div>
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}" class="relative inline-flex items-center px-4 py-2 ml-3 text-sm font-medium leading-5 {{ colors.paginateCustom.linkText or colors.paginateDefault.linkText }} transition duration-150 ease-in-out {{ colors.paginateCustom.linkBg or colors.paginateDefault.linkBg }} border {{ colors.paginateCustom.linkBorder or colors.paginateDefault.linkBorder }} rounded-md hover:{{ colors.paginateCustom.linkTextHover or colors.paginateDefault.linkTextHover }} hover:{{ colors.paginateCustom.linkBgHover or colors.paginateDefault.linkBgHover }} focus:outline-none focus:shadow-outline-blue focus:{{ colors.paginateCustom.linkFocusBorder or colors.paginateDefault.linkFocusBorder }} active:bg-gray-100 active:{{ colors.paginateCustom.linkText or colors.paginateDefault.linkText }}">
      Next
    </a>
      {% endif %}
    </div>

  </div>
  <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-{{ structure.g_alignPagination }}">
    <div>
      <nav class="relative z-0 inline-flex shadow-sm">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}" class="relative inline-flex items-center px-2 py-2 text-sm font-medium leading-5 {{ colors.paginateCustom.linkText or colors.paginateDefault.linkText }} transition duration-150 ease-in-out {{ colors.paginateCustom.linkBg or colors.paginateDefault.linkBg }} border {{ colors.paginateCustom.linkBorder or colors.paginateDefault.linkBorder }} rounded-l-md hover:{{ colors.paginateCustom.linkTextHover or colors.paginateDefault.linkTextHover }} hover:{{ colors.paginateCustom.linkBgHover or colors.paginateDefault.linkBgHover }} focus:z-10 focus:outline-none focus:{{ colors.paginateCustom.linkFocusBorder or colors.paginateDefault.linkFocusBorder }} focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500" aria-label="Previous">
            <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
            </svg>
          </a>
        {% else %}
          <div class="relative inline-flex items-center px-2 py-2 text-sm font-medium leading-5 {{ colors.paginateCustom.linkTextActive or colors.paginateDefault.linkTextActive }} {{ colors.paginateCustom.linkBgActive or colors.paginateDefault.linkBgActive }} border {{ colors.paginateCustom.linkBorder or colors.paginateDefault.linkBorder }} rounded-l-md" aria-label="Previous">
            <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"/>
            </svg>
          </div>
        {%- endif %}

        {%- for pageEntry in pagination.pages %}
          {% if page.url != pagination.hrefs[loop.index0] %}
            <a href="{{ pagination.hrefs[ loop.index0 ] }}" class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium leading-5 {{ colors.paginateCustom.linkText or colors.paginateDefault.linkText }} transition duration-150 ease-in-out {{ colors.paginateCustom.linkBg or colors.paginateDefault.linkBg }} border {{ colors.paginateCustom.linkBorder or colors.paginateDefault.linkBorder }} hover:{{ colors.paginateCustom.linkTextHover or colors.paginateDefault.linkTextHover }} hover:{{ colors.paginateCustom.linkBgHover or colors.paginateDefault.linkBgHover }} focus:z-10 focus:outline-none focus:{{ colors.paginateCustom.linkFocusBorder or colors.paginateDefault.linkFocusBorder }} focus:shadow-outline-blue active:bg-gray-100 active:{{ colors.paginateCustom.linkText or colors.paginateDefault.linkText }}">
              {{ loop.index }}
            </a>
          {% else %}
            <div class="relative inline-flex items-center px-4 py-2 -ml-px text-sm font-medium leading-5 {{ colors.paginateCustom.linkTextActive or colors.paginateDefault.linkTextActive }} {{ colors.paginateCustom.linkBgActive or colors.paginateDefault.linkBgActive }} border {{ colors.paginateCustom.linkBorder or colors.paginateDefault.linkBorder }}">
              {{ loop.index }}
            </div>
          {%- endif %}
        {%- endfor %}

        {% if pagination.href.next %}

          <a href="{{ pagination.href.next }}" class="relative inline-flex items-center px-2 py-2 -ml-px text-sm font-medium leading-5 {{ colors.paginateCustom.linkText or colors.paginateDefault.linkText }} transition duration-150 ease-in-out {{ colors.paginateCustom.linkBg or colors.paginateDefault.linkBg }} border {{ colors.paginateCustom.linkBorder or colors.paginateDefault.linkBorder }} rounded-r-md hover:{{ colors.paginateCustom.linkTextHover or colors.paginateDefault.linkTextHover }} hover:{{ colors.paginateCustom.linkBgHover or colors.paginateDefault.linkBgHover }} focus:z-10 focus:outline-none focus:{{ colors.paginateCustom.linkFocusBorder or colors.paginateDefault.linkFocusBorder }} focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500" aria-label="Next">
            <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
            </svg>
          </a>
        {% else %}
          <div class="relative inline-flex items-center px-2 py-2 -ml-px text-sm font-medium leading-5 {{ colors.paginateCustom.linkTextActive or colors.paginateDefault.linkTextActive }} {{ colors.paginateCustom.linkBgActive or colors.paginateDefault.linkBgActive }} border {{ colors.paginateCustom.linkBorder or colors.paginateDefault.linkBorder }} rounded-r-md" aria-label="Next">
            <svg class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
            </svg>
          </div>

        {%- endif %}

      </nav>
    </div>
  </div>
</div>