<section class="mt-16">
  <div class="relative px-4 pb-20 bg-gray-50 sm:px-6 lg:pb-28 lg:px-8">
    <div class="relative mx-auto max-w-7xl">
      <div class="grid gap-5 mx-auto mt-12 md:grid-cols-2 xl:grid-cols-3 lg:max-w-none">
        {% for post in postslist | reverse %}

          <div class="flex flex-col overflow-hidden rounded-lg shadow-lg">
            <div class="flex-shrink-0">
              <img class="object-cover w-full h-48" src={% if post.data.images.thumb %}"/assets/images/{{ post.data.images.thumb }}"{% else %}"/assets/images/david-kovalenko-G85VuTpw6jg-unsplash.jpg"{% endif %} alt="{{ title }} Thumbnail">
            </div>
            <div class="flex flex-col justify-between flex-1 p-6 bg-white">
              <div class="flex-1">
                {% set tags = post.data.tags %}
                {% include "components/tagpills.njk" %}
                <a href="{{ post.url | url }}" class="block">
                  <h3 class="mt-2 text-xl font-semibold leading-7 {{ colors.headingsCustom or colors.headingsDefault }}">
                    {{ post.data.title }}
                  </h3>
                  <p class="mt-3 text-base leading-6 text-gray-500">
                    {{ post.data.excerpt }}
                  </p>
                </a>
              </div>
              {# Used conditionals here to keep control at the template levels rather than at the component level.  #}
              {# Display the Author block if structure.displayAuthors is true (default) #}
              {% if structure.displayAuthors %}
                {# Only display the Author Block if there is a value for "author" in Post Frontmatter #}
                {% if post.data.author %}
                  {% include "components/authordate.njk" %}
                {% endif %}
              {% endif %}
            </div>
          </div>

        {% endfor %}
      </div>
    </div>
  </div>
</section>