<section class="mt-24">
  <div class="container px-5 pb-24 mx-auto">
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">

    	{% for post in postslist | reverse %}
      <div class="p-4 md:w-1/2 xl:w-1/3 sm:mb-0 mb-6">
        <div class=" rounded-lg shadow-md hover:shadow-lg h-64 overflow-hidden border border-gray-200 ">
          <a href="{{ post.url | url }}">
          {% if post.data.images.thumb %}
            <img class="card" src="/assets/images/{{ post.data.images.thumb }}" alt="">
          {% else %}
            <img class="card" src="/assets/svg/placeholder-thumb.svg" alt="">
          {% endif %}
          </a>
        </div>
        <h3 class="heading pt-4"><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
        <time datetime="{{ post.date | machineDate }}">
					<small>{{ post.date | readableDate }} by <a href="/authors/{{ post.data.author | slug }}/">{{ post.data.author }}</a></small>
				</time>
        <p class="text-base leading-relaxed">
          {{ post.data.excerpt }}
        </p>        
      </div>
	    {% endfor %}

    </div>
  </div>
</section>
