<section class="mt-12">
  <div class="container px-5 pb-24 mx-auto">
    <div class="flex flex-wrap -mx-4 -mt-4 -mb-10 sm:-m-4">

      {% for post in postslist | reverse %}
        <div class="p-4 pb-12 md:w-1/2 xl:w-1/3 sm:mb-0">
          <div class="relative flex h-48 overflow-hidden border border-gray-200 rounded-lg shadow-md hover:shadow-lg">
            <a class="" href="{{ post.url | url }}">
              <img class="absolute inset-0 object-cover {{ post.data.images.align }} w-full h-full" src={% if post.data.images.thumb %}"/assets/images/{{ post.data.images.thumb }}"{% else %}"/assets/images/david-kovalenko-G85VuTpw6jg-unsplash.jpg"{% endif %} alt="">
            </a>
          </div>
          <h3 class="mt-4 {{ colors.headingsCustom or colors.headingsDefault }}">
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
          </h3>

          <small>
            <time datetime="{{ post.date | dateToFormat("yyyy-MM-dd") }}">{{ post.date | dateToFormat("dd LLL yyyy") }}</time>
            {# Used conditionals here to keep control at the template levels rather than at the component level.  #}
            {# Display the Author block if structure.g_showAuthors is true (default) #}
            {% if structure.g_showAuthors %}
              {# Only display the Author Block if there is a value for "author" in Post Frontmatter #}
              {% if post.data.author %}
                {% set postAuthor = authors | getAuthor(post.data.author) %}
                by <a href="/authors/{{ post.data.author }}/">{{ postAuthor.name }}</a>
              {% endif %}
            {% endif %}
          </small>

          {# Display Post Excerpt if set 'true' in /src/_data/structure.js:g_showExcerpt  #}
          {% if structure.g_showExcerpt %}
            <div class="{{ colors.excerptCustom or colors.excerptDefault }}">
              {{ post.data.excerpt }}
            </div>
          {% endif %}

          {# If you don't want to display the Tag Pills, set "false" in /src/_data/structure.js #}
          {% if structure.g_showTagPills %}
            <div class="pt-2">
              {% set tags = post.data.tags %}
              {% include "components/tagpills.njk" %}
            </div>
          {% endif %}
        </div>
      {% endfor %}

    </div>
  </div>
</section>