<section class="mt-8">
  <div class="px-4 pb-12 sm:px-6 lg:pb-28 lg:px-8">
    <div class="mx-auto max-w-7xl">
      <div>
        {% for post in postslist | reverse %}
          <div class="pb-10">
            {# Post publish Date and Author display conditional  #}
            <div class="text-sm {{ colors.authorCustom.date or colors.authorDefault.date }}">
              <time datetime="{{ post.data.date | dateToFormat("yyyy-MM-dd") }}">
                {{ post.data.date | dateToFormat("dd LLL yyyy") }}
              </time>
              {# Global disable author display in /src/_data/structure.js #}
              {% if structure.g_showAuthors %}
                {# Only display the Author Block if there is a value for "author" in Post Frontmatter #}
                {% if post.data.author %}
                  {% set postAuthor = authors | getAuthor(post.data.author) %}
                  by <a class="hover:underline" href="/authors/{{ post.data.author }}/">{{ postAuthor.name }}</a>
                {% endif %}
              {% endif %}

            </div>

            {# Post Title  #}
            <a href="{{ post.url | url }}" class="block hover:underline">
              <h3 class="text-xl font-semibold leading-7 {{ colors.headingsCustom or colors.headingsDefault }}">
                {{ post.data.title }}
              </h3>
            </a>

            {# Display Post Excerpt if set 'true' in /src/_data/structure.js:g_showExcerpt  #}
            {% if structure.g_showExcerpt %}
              <div class="{{ colors.excerptCustom or colors.excerptDefault }}">
                {{ post.data.excerpt }}
              </div>
            {% endif %}

          </div>

        {% endfor %}
      </div>
    </div>
  </div>
</section>