<div class="bg-white pt-4 pb-20 px-4 sm:px-6 lg:pb-28 lg:px-8">
  <div class="relative max-w-lg mx-auto lg:max-w-7xl">
    <div>
      <h2 class="text-3xl leading-9 tracking-tight font-extrabold text-gray-900 sm:text-4xl sm:leading-10">
        Recent posts
      </h2>
      <p class="mt-3 text-xl leading-7 text-gray-500 sm:mt-4">
        Nullam risus blandit ac aliquam justo ipsum. Quam mauris volutpat massa dictumst amet. Sapien tortor lacus arcu.
      </p>
    </div>
    <div class="mt-12 grid gap-16 border-t-2 border-gray-100 pt-12 lg:grid-cols-3 lg:col-gap-5 lg:row-gap-12">



	{% for post in postslist | reverse %}

      <div>
        <a href="{{ post.url | url }}" class="block">
          <h3 class="mt-4 text-xl leading-7 font-semibold text-gray-900">
            {{ post.data.title }}
          </h3>
          <p class="mt-3 text-base leading-6 text-gray-500">
            {{ post.data.excerpt }}
          </p>
        </a>
        <div class="mt-6 flex items-center">
          <div class="ml-3">
            <div class="flex text-sm leading-5 text-gray-500">
              <time datetime="{{ post.date | machineDate }}">
                {{ post.date | readableDate }}
              </time>
              <span class="mx-1">
                &middot;
              </span>
              <span>
                6 min read
              </span>
            </div>
          </div>
        </div>
      </div>

	{% endfor %}


    </div>
  </div>
</div>





{#

<section>
	{% for post in postslist | reverse %}
		<article{% if post.url == url %} data-current="current item"{% endif %} class="mb-8">
			<div>
				<a href="{{ post.url | url }}">
						{{ post.data.title }}
				</a>
			</div>
			
				<time datetime="{{ post.date | machineDate }}">
					<small>{{ post.date | readableDate }} by <a href="/authors/{{ post.data.author | slug }}/">{{ post.data.author }}</a></small>
				</time>
		</article>
	{% endfor %}
</section>
#}