<div>
  {% for tag in post.data.tags %}
    {# Knock out the first iteration of the loop to drop the default "post" tag generated in `posts/posts.json`. #}
    {# If there's a better/easier way of doing this, please LMK.  #}
    {% if not loop.first %}
      <a href="/tags/{{ tag | slug }}/" class="px-2 py-1 my-2 mt-0 text-sm {{ colors.tagPillCustom.text or colors.tagPillDefault.text }} {{ colors.tagPillCustom.bg or colors.tagPillDefault.bg }}  rounded-full hover:{{ colors.tagPillCustom.textHover or colors.tagPillDefault.textHover }}  hover:{{ colors.tagPillCustom.bgHover or colors.tagPillDefault.bgHover }}">{{ tag }}</a>
    {% endif %}
  {% endfor %}
</div>