<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ seo.title | default( title ) }}</title>
  <link rel="stylesheet"href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="/assets/tailwind.css"/>
  {# include "head.njk" #}
</head>
  <body>
    <div hidden>{% svgsprite %}</div>
    <div class="flex flex-col min-h-screen">
    {% include "components/nav.njk" %}

      <div class="flex-grow sm:px-20 lg:px-32 ">
        <main class="px-4 py-12 prose max-w-none sm:prose-xl xl:prose-xl" id="content" tabindex="-1">
          {{ content | safe }}
        </main>
      </div>

      {% include "footer.njk" %}
    </div>

  <script src="/assets/main.js" defer></script>
  </body>
</html> 