<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ seo.title | default( title ) }}</title>
    <link rel="stylesheet" href="/assets/tailwind.css"/>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

    {# include "head.njk" #}
  </head>
  <body>
    <div hidden>{% svgsprite %}</div>
    <div class="flex flex-col min-h-screen">
      {% include "components/nav.njk" %}

      <div class="flex-grow max-w-5xl mx-4 my-12 sm:mx-20 lg:mx-32">
        <main class="" id="content">
          {{ content | safe }}
        </main>
      </div>

      {% include "partials/footer.njk" %}
    </div>

    <script src="/assets/main.js" defer></script>
  </body>
</html>