<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ seo.title or title }}  | {{ meta.siteName }}</title>
    <link rel="stylesheet" href="/assets/tailwind.css"/>
    <link rel="alternate" type="application/atom+xml" title="RSS Feed for {{ meta.siteName }}" href="/feed.xml"/>
    {# Only include the Flickity js if this page uses a hero.carousel  #}
    {% if hero == "carousel" or product.carousel -%}
      <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
      <link rel="stylesheet" href="https://unpkg.com/flickity-fullscreen@1/fullscreen.css">
    {%- endif -%}
    {%- include "partials/head.njk" %}
    {% set prismOkaidia %}{% include "src/assets/css/prism-okaidia.css" %}{% endset -%}
    <style>
      {{prismOkaidia | cssmin | safe}}
    </style>
  </head>
  <body class="{{ colors.siteTextCustom or siteTextDefault }}">
    <div hidden>{% svgsprite %}</div>
    <div class="flex flex-col min-h-screen">
      {% include "components/nav.njk" %}

      {#  Allows a user to easily change the Hero type on the Home page...or any page.
          See /src/home.md for how to use. 
      #}
      {% if hero %}
        {% set heroComponent = ['components/hero-', hero, '.njk'] %}
        {% include heroComponent | join %}
      {% endif %}

      {# If any frontmatter includes images.feature, insert it at the top of the page, 
      below the nav and outside the default wrapper below. #}
      {% if images.feature %}
        <figure class="w-screen {{ images.height or "h-48 md:h-1/3" }}">
          <img class="object-cover {{ images.align }} w-full h-full" src="{{ images.feature if 'http' in images.feature else "/assets/images/" + images.feature }}" alt="{{ title }}">
        </figure>
      {% endif %}

      <div class="flex-grow max-w-full">
        <main class="block py-12" id="content">
          {{ content | safe }}
        </main>
      </div>

      {% include "partials/footer.njk" %}
    </div>

    <script src="/assets/main.js" defer></script>

    {# Only include the Flickity js if this page uses a hero.carousel  #}
    {% if hero == "carousel" or product.carousel %}
      <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
      <script src="https://unpkg.com/flickity-fullscreen@1/fullscreen.js"></script>
    {% endif %}

  </body>
</html>