---
layout: base
---

<article class="{{ structure.g_pageWidth }} sm:my-12">

  <h1 class="{{ colors.headingsCustom or colors.headingsDefault }}">{{ seo.title or title }}</h1>
  <div class="text-sm text-gray-500">
    <time datetime="{{ date | machineDate }}">
      {{ date | readableDate }}
    </time>
    {# Global disable author display in /src/_data/structure.js #}
    {% if structure.g_showAuthors %}
      {# Only display the Author Block if there is a value for "author" in Post Frontmatter #}
      {% if author %}
        {% set postAuthor = authors | getAuthor(author) %}
        by <a class="hover:underline" href="/authors/{{ author }}/">{{ postAuthor.name }}</a>
      {% endif %}
    {% endif %}

  </div>

  {{ layoutContent | safe }}

  {% if structure.g_showTagPills or structure.g_showSocialShareIcons %}
    <div class="flex flex-row justify-between pt-4 mt-12 border-t ">

      {# If you don't want to display the Tag Pills, set "false" in /src/_data/structure.js #}
      {% if structure.g_showTagPills %}
        <div class="{{ colors.borderCustom.color or colors.borderDefault.color }} ">
          {% include "components/tagpills.njk" %}
        </div>
      {% endif %}

      {# If you don't want to display Social Share icons, disable them in /src/_data/structure.js  #}
      {% if structure.g_showSocialShareIcons %}
        {% include "components/socialshare.njk" %}
      {% endif %}

    </div>
  {% endif %}

  {# ===== Previous and Next =====  #}
  <div class="flex flex-row justify-between  border-t mt-4 pt-4 {{ colors.borderCustom.color or colors.borderDefault.color }} ">
    {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
    {% set nextPost = collections.post | getNextCollectionItem(page) %}

    <div class="">
      {% if previousPost %}
        <a class="{{ colors.prevNextCustom.text or colors.prevNextDefault.text }} hover:{{ colors.prevNextCustom.text or colors.prevNextDefault.textHover }}" href="{{ previousPost.url }}">← {{ previousPost.data.title }}</a>
      {% endif %}
    </div>

    <div class="">
      {% if nextPost %}
        <a class="{{ colors.prevNextCustom.text or colors.prevNextDefault.text }} hover:{{ colors.prevNextCustom.text or colors.prevNextDefault.textHover }}" href="{{ nextPost.url }}">{{ nextPost.data.title }} →</a>
      {% endif %}
    </div>

  </div>

</article>