---
layout: base
---

{% if images.feature %}
  <figure class="w-screen h-48 -mx-12 -mt-12 sm:h-64 lg:h-96 sm:-mx-20 lg:-mx-32 ">
    <img class="object-cover w-full h-full" src="/assets/images/{{ images.feature }}" alt="">
  </figure>
{% endif %}

<article class="mt-12">
  <h1 class="{{ colors.headingsCustom or colors.headingsDefault }}">{{ seo.title or title }}</h1>
  <div class="text-sm text-gray-500">
    <time datetime="{{ date | machineDate }}">
      {{ date | readableDate }}
    </time> by <a class="hover:underline" href="/authors/{{ author | slug }}/">{{ author }}</a>
  </div>

  {{ layoutContent | safe }}

  <div class="border-t mt-4 pt-4 {{ colors.borderCustom.color or colors.borderDefault.color }} ">
    {% include "components/tagpills.njk" %}
  </div>

</article>