---
layout: base
---

<article class="{{ structure.g_pageWidth }} my-12">

  <h1 class="{{ colors.headingsCustom or colors.headingsDefault }}">{{ seo.title or title }}</h1>
  <div class="text-sm text-gray-500">
    <time datetime="{{ date | machineDate }}">
      {{ date | readableDate }}
    </time>
    {# Global disable author display in /src/_data/structure.js #}
    {% if structure.g_showAuthors %}
      {# Only display the Author Block if there is a value for "author" in Post Frontmatter #}
      {% if author %}
        {% set postAuthor = authors | getAuthor(author) %}
        by <a class="hover:underline" href="/authors/{{ author }}/">{{ postAuthor.name }}</a>
      {% endif %}
    {% endif %}

  </div>

  {{ layoutContent | safe }}

  {# If you don't want to display the Tag Pills, set "false" in /src/_data/structure.js #}
  {% if structure.g_showTagPills %}
    <div class="border-t mt-4 pt-4 {{ colors.borderCustom.color or colors.borderDefault.color }} ">
      {% include "components/tagpills.njk" %}
    </div>
  {% endif %}

</article>