---
title: Blog
date: 2020-08-05
description: The Posts List display is controled in /src/_data/structure.js and ships with 4 options.
layout: page
eleventyNavigation:
  key: main
  title: Blog #  as it will appear in the nav
  order: 3    # order to display in the nav
seo:
  title: From the blog...
  description: 
pagination:
  data: collections.post 
  size: 12
  reverse: true
  alias: posts
---

<p>
The Posts List display below is controled in <kbd>/src/_data/structure.js</kbd> and ships with 4 options by default in the <strong>postListStyle</strong> setting. 
</p>
<p>
Currently setting = <strong>postListStyle: <em>{{ structure.postListStyle }}</em>
  </strong>
</p>
<p>
Defaults are:
<ol>
    <li>
      <strong>postslist</strong> = Just text links with Title, Date/Author, Excerpt</li>
    <li>
      <strong>postslistsimple</strong> = Block-style Grid with Title, Date/Author Image, Tag Pills, Excerpt</li>
    <li>
      <strong>postslistpics</strong> = Block-style Grid with Post Thumbnail, Title, Date/Author, Tag Pills, Excerpt</li>
    <li>
      <strong>postslistcards</strong> = Cards with Border, Dropshadow, Post Thumbnail, Title, Date/Author Image, Excerpt</li>
  </ol>
</p>
<p>You can easily modify existing or add your own by duplicating existing to use as base for modifications.</p>
<hr class="mt-8">

{% set postslist = posts | reverse %}

{# 
  Allows a user to easily change the Tag List Style.
  Please see instructions in /src/_data/structure.js >>> ===== Post List Style Options =====
#}
{% set postlist = ['components/', structure.postListStyle, '.njk'] %}
{% include postlist | join %}

{# ===== Paginate based on "size" frontmatter value above =====  #}
{# Don't even include the pagination component if there are fewer posts than needed to paginate  #}
{% if collections.post.length > pagination.size %}
  {% include "components/pagination.njk" %}
{% endif %}