---
title: Blog
date: 2020-08-05
layout: page
eleventyNavigation:
  key: main
  title: Blog # as it will appear in the nav
  order: 3    # order to display in the nav
seo:
  title: From the blog...
  description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quisquam numquam atque consequatur. Porro quibusdam alias blanditiis a ipsa unde cupiditate, hic accusantium, fugit excepturi explicabo voluptatibus mollitia esse enim!"
---

{% set postslist = collections.post %}

{# 
  Allows a user to easily change the Tag List Style.
  Please see instructions in /src/_data/structure.js
#}
{% set postlist = ['components/', structure.postListStyle, '.njk'] %}
{% include postlist | join %}