---
title: Hello World
layout: base
eleventyNavigation:
  key: main
  title: Welcome  # as it will appear in the nav
  order: 1        # order to display in the nav
#seo: #uncomment 'seo' and then any elements to use them
  #title:
  #description:
carousel:
  images:
    - /assets/images/slider-home/1.jpeg
    - /assets/images/slider-home/2.jpeg
    - /assets/images/slider-home/3.jpeg
  height:
    mobile: h-1/2
    desktop: 
---

<div>
  <p>This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. </p>

  <p>This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. </p>
  <p>This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. This is a bunch of text. </p>
</div>