---
layout: page
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - authors
    - pages
    - post
permalink: /tags/{{ tag }}/
eleventyComputed:
  title: Entries Tagged "{{ tag }}”
---

<h3 class="mt-6">Setting Tags List Display</h3>

<p>
The Tags List display below is controled in <code>/src/_data/structure.js</code> in the same way as on <a href="/blog">the blog list</a> and ships with 4 Component options by default in the <strong>postListStyle</strong> setting. Full instructions are in the comments in <code>/src/_data/structure.js:103</code>.
</p>

<p>
Currently setting = <code>tagListStyle: <em>{{ structure.tagListStyle or structure.postListStyle }}</em></code>
</p>

<p>This template = <code>/src/tags.njk</code></p>

<hr class="mt-8">

{# 
  We set this to 'postslist' so we can use the same postslist components as the /blog 
#}
  {% set postslist = collections[tag] %}

{# 
  Either inherit the 'postListStyle' or use another layout
  Please see instructions in /src/_data/structure.js 
#}
{% set tagStyle = structure.tagListStyle or structure.postListStyle %}

{# 
  Allows a user to easily change the Tag List Style.
  Please see instructions in /src/_data/structure.js
#}
{% set postlist = ['components/', tagStyle, '.njk'] %}
{% include postlist | join %}

<div class="border-t border-gray-300">
<h4 class="{{ colors.tagPillCustom.text or colors.tagPillDefault.text }}">All Tags:</h4>
{% set tags = collections.tagList %}
{% include "components/tagpills.njk" %}
</div>


